<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access denied</title>
    <link href="/Styles/style1.css" rel="stylesheet">
</head>
<body>
    <img alt="denied" src="/Images/Wrong.png" width="300px" height="300px"/>
    <h1>Access denied</h1>
    <h3>Sorry this ticket has been used by <%=userName%> </h3>
</body>
</html>