<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link href="/Styles/style1.css" rel="stylesheet">
</head>
<body>
    <img style="text-align: center;" alt="Not-Found" src="/Images/404-error.png" width="300px" height="300px"/>
    <h1>User Not Found</h1>
    <h3>sorry this user not found</h3>
    </body>
</html>